html {
  body {
    
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none !important; 
      margin: 0; 
    }
    
    * {
      color: #dedede !important;
      padding: 0;
      margin: 0;
      border: none;
      
      &,&:hover {
        outline: none !important;
      }
    }
    
    p {
      clear: both;
    }
    
    a {
      color: #fff !important;
    }
    
    b,strong {
      font-weight: bold !important;
    }
    
    i {}
    
    h1,h2,h3,h4,h5,h6 {
      clear: both;
      display: block;
      font-weight: bold !important;
      margin: 0;
      padding: 0 0 0.5em;
    }
    
    div {
      position: relative;
    }
    
    header.header {
      display: block;
      background-color: #823;
      border: 2px solid #601;
      border-color: #a45 #934 #601 #712;
      padding: 15pt;
      
      .appBrand {
        display: inline-block;
        text-decoration: none !important;
        
        &:hover {
          opacity: 0.5 !important;
        }
      }
      
      .appSlogan {
        clear: both;
        display: block;
      }
    }
    
    input.userInput {
      clear: both;
      position: relative;
      display: inline-block;
      font-weight: bold;
      width: 100%;
      margin: 2% 0;
      padding: 1%;
      background-color: #dedede;
      color: #444 !important;
    }
    
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      border: 2px solid #888;
      border-color: #888 #777 #999 #aaa;
    }
    
    figure.userForm {
      clear: both;
      position: relative;
      display: block;
      margin: 0 auto !important;
      padding: 30pt 30pt 15pt;
      text-align: left;
    }
    
    .infoTable {
      clear: both;
      position: relative;
      display: none;
      width: 100%;
      height: auto;
      background-color: @lightbox;
      padding: 2%;
      margin: 2% auto 0;
      
      > * {
        clear: both;
        display: block;
        width: 100%;
        font-weight: bold;
        
        span {
          font-weight: normal;
        }
      }
      
      .dataFrame {
        clear: both;
        display: block;
        width: 100%;
        height: auto;
        
        > * {
          display: inline-block;
          width: auto;
          height: auto;
        }
      }
    }
    
    div.queryBox {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      
      .match {
        display: inline-block;
        
        .tag {
          display: inline-block;
          font-size: 1em;
          font-weight: bold;
          padding: 5pt 10pt;
          color: #fff;
          background-color: #567;
          border: 2px solid #345;
          border-color: #678 #567 #345 #456;
          
          &:hover {
            cursor: pointer;
            background-color: #283;
            border-color: #283 #172 #495 #384;
          }
        }
      }
    }
    
  }
}
