html {
  background-color: #234 !important;
  font-size: 1.32em !important;
  font-family: "DroidSans", "Verdana", "Arial", "sans-serif", "Georgia" !important;
  text-align: center;
  color: #dedede !important;
  box-sizing: content-box;
  
  body.page {
    position: relative;
    display: block;
    width: 100%;
    height: auto !important;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: #678;
    
    header.header,
    footer.footer {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
    }
    
    div.container {
      display: inline-block;
      width: 100%;
      min-height: 100%;
      margin: 0 auto !important;
      vertical-align: middle;
      padding: 0 0 1% 0;
      border-top: 35pt solid #234;
      border-bottom: 35pt solid #234;
      background-color: transparent;
      
      div.content {
        display: block;
      }
    }
    
    .queryBox {
      clear: both;
      position: relative;
      display: inline-block;
      width: 100%;
      margin: 0 auto;
      
      .left,
      .right {
        float: left;
        width: 91%;
        vertical-align: middle;
      }
      .left {
        width: 9%;
      }
    }
  }

  body {
    * > div {
      background-color: transparent;
    }
  }
}