<div class="column-layout group">
  <h6 class="h6">
    Dashboards
  </h6>
  <igx-list class="list">
    <igx-list-item [isHeader]="false">
      <span igxListLineTitle>Dashboards</span>
      <span igxListAction>
        <igx-icon class="icon">
          dashboard
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListLineTitle>Favorites</span>
      <span igxListAction>
        <igx-icon class="icon">
          star
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListLineTitle>Recent</span>
      <span igxListAction>
        <igx-icon class="icon_1">
          access_time
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListLineTitle>Samples</span>
      <span igxListAction>
        <igx-icon class="icon">
          ballot
        </igx-icon>
      </span>
    </igx-list-item>
  </igx-list>
</div>
<div class="column-layout group_1">
  <div class="row-layout group_2">
    <h5 class="h5">
      Recent
    </h5>
  </div>
  <div class="row-layout group_3">
    <igx-card class="card">
      <igx-card-media height="120px">
        <img src="https://static.infragistics.com/marketing/reveal/reveal-app-data-visualization-dashboard-screenshot-768.jpg?v=201812181150" class="image" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          Artists Analysis
        </h3>
        <h5 igxCardHeaderSubtitle>
          Jun 15, 2020 - Jason Anderson
        </h5>
      </igx-card-header>
      <igx-card-actions class="actions-content">
        <button igxButton="icon" igxRipple>
          <igx-icon>
            star_border
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple>
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card class="card">
      <igx-card-media height="120px">
        <img src="https://static.infragistics.com/marketing/reveal/reveal-app-data-visualization-decision-making-create-chart-types-graphic-768.jpg?v=201812181150" class="image" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          For evaluation
        </h3>
        <h5 igxCardHeaderSubtitle>
          Jun 15, 2020 - Martina Roberts
        </h5>
      </igx-card-header>
      <igx-card-actions class="actions-content">
        <button igxButton="icon" igxRipple>
          <igx-icon>
            star
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple>
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card class="card">
      <igx-card-media height="120px">
        <img src="https://static.infragistics.com/marketing/reveal/reveal-app-data-visualization-dashboard-screenshot-768.jpg?v=201812181150" class="image" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          Stylescape Results
        </h3>
        <h5 igxCardHeaderSubtitle>
          Jun 15, 2020 - Caroline Sanders
        </h5>
      </igx-card-header>
      <igx-card-actions class="actions-content">
        <button igxButton="icon" igxRipple>
          <igx-icon>
            star_border
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple>
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <button igxButton="fab" igxRipple class="button">
      <igx-icon>
        add
      </igx-icon>
    </button>
  </div>
</div>
