<div class="column-layout left_nav">
  <h6 class="h6">
    Tasks
  </h6>
  <div class="row-layout group">
    <p class="text">
      VD Team
    </p>
    <igx-badge value="11" class="badge"></igx-badge>
  </div>
  <div class="column-layout group_1">
    <p class="igx-typography__subtitle-2 content">
      LISTS
    </p>
    <igx-list class="list">
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>General</span>
        <span igxListAction>
          <igx-icon class="icon">
            more_vert
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>App Builder</span>
        <span igxListAction>
          <igx-icon class="icon">
            more_vert
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>Indigo.Design</span>
        <span igxListAction>
          <igx-icon class="icon">
            more_vert
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>Marketing</span>
        <span igxListAction>
          <igx-icon class="icon">
            more_vert
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>Customer Portal</span>
        <span igxListAction>
          <igx-icon class="icon">
            more_vert
          </igx-icon>
        </span>
      </igx-list-item>
    </igx-list>
    <button igxButton="flat" igxRipple class="button">
      <igx-icon>
        add
      </igx-icon>
      <span>FILTER</span>
    </button>
  </div>
  <div class="column-layout group_2">
    <p class="igx-typography__subtitle-2 content">
      FILTERS
    </p>
    <igx-list class="list">
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>Due this Week</span>
        <span igxListAction>
          <igx-icon class="icon_1">
            more_vert
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListLineTitle>Overdue</span>
        <span igxListAction>
          <igx-icon class="icon_1">
            more_vert
          </igx-icon>
        </span>
      </igx-list-item>
    </igx-list>
    <button igxButton="flat" igxRipple class="button">
      <igx-icon>
        add
      </igx-icon>
      <span>FILTER</span>
    </button>
  </div>
</div>
<div class="column-layout content_section">
  <div class="row-layout content_toolbar">
    <h5 class="h5">
      VD Team
    </h5>
    <button igxButton="flat" igxRipple class="button_1">
      <igx-icon>
        list
      </igx-icon>
      <span>LIST</span>
    </button>
    <button igxButton="flat" igxRipple class="button_2">
      <igx-icon>
        calendar_view_day
      </igx-icon>
      <span>SECTION</span>
    </button>
    <button igxButton="flat" igxRipple class="button_2">
      <igx-icon>
        dns
      </igx-icon>
      <span>FIELDS</span>
    </button>
    <button igxButton="icon" igxRipple class="button_3">
      <igx-icon>
        filter_list
      </igx-icon>
    </button>
    <button igxButton="icon" igxRipple>
      <igx-icon>
        more_vert
      </igx-icon>
    </button>
  </div>
  <div class="row-layout group_3">
    <div class="column-layout group_4">
      <h6 class="h6_1">
        Developer Tools
      </h6>
      <p class="igx-typography__subtitle-2 content">
        Release 2020.2
      </p>
      <igx-list class="list_1">
        <igx-list-item [isHeader]="false">
          <span igxListThumbnail>
            <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar1.png" [roundShape]="true" class="avatar"></igx-avatar>
          </span>
          <span igxListLineTitle>Download any Ultimate product and take notes on the download process</span>
          <span igxListLineSubTitle>Product download process experience</span>
          <span igxListAction>
            <igx-icon class="icon_2">
              more_vert
            </igx-icon>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListThumbnail>
            <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar2.png" [roundShape]="true" class="avatar"></igx-avatar>
          </span>
          <span igxListLineTitle>Report about the downloaded ultimate products to the Marketing Team</span>
          <span igxListLineSubTitle>Product download process experience</span>
          <span igxListAction>
            <igx-icon class="icon_2">
              more_vert
            </igx-icon>
          </span>
        </igx-list-item>
      </igx-list>
      <button igxButton="flat" igxRipple class="button_4">
        <igx-icon>
          add
        </igx-icon>
        <span>task</span>
      </button>
      <h6 class="h6_1">
        App Builder
      </h6>
      <p class="igx-typography__subtitle-2 content">
        September release - Sprint 1
      </p>
      <igx-list class="list_1">
        <igx-list-item [isHeader]="false">
          <span igxListThumbnail>
            <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar3.png" [roundShape]="true" class="avatar"></igx-avatar>
          </span>
          <span igxListLineTitle>Research new sample app</span>
          <span igxListLineSubTitle>New sample application</span>
          <span igxListAction>
            <igx-icon class="icon_2">
              more_vert
            </igx-icon>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListThumbnail>
            <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar2.png" [roundShape]="true" class="avatar"></igx-avatar>
          </span>
          <span igxListLineTitle>Create visual design for new sample app</span>
          <span igxListLineSubTitle>New sample application</span>
          <span igxListAction>
            <igx-icon class="icon_2">
              more_vert
            </igx-icon>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListThumbnail>
            <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar5.png" [roundShape]="true" class="avatar"></igx-avatar>
          </span>
          <span igxListLineTitle>Implementation for new sample app</span>
          <span igxListLineSubTitle>New sample application</span>
          <span igxListAction>
            <igx-icon class="icon_2">
              more_vert
            </igx-icon>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListThumbnail>
            <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" [roundShape]="true" class="avatar"></igx-avatar>
          </span>
          <span igxListLineTitle>Tweaks in List component</span>
          <span igxListLineSubTitle>App Builder UI Components</span>
          <span igxListAction>
            <igx-icon class="icon_2">
              more_vert
            </igx-icon>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListThumbnail>
            <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar1.png" [roundShape]="true" class="avatar"></igx-avatar>
          </span>
          <span igxListLineTitle>QE of new App Builder components</span>
          <span igxListLineSubTitle>App Builder UI Components</span>
          <span igxListAction>
            <igx-icon class="icon_2">
              more_vert
            </igx-icon>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListThumbnail>
            <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar4.png" [roundShape]="true" class="avatar"></igx-avatar>
          </span>
          <span igxListLineTitle>Implementation of Chips component</span>
          <span igxListLineSubTitle>App Builder UI Components</span>
          <span igxListAction>
            <igx-icon class="icon_2">
              more_vert
            </igx-icon>
          </span>
        </igx-list-item>
      </igx-list>
      <button igxButton="flat" igxRipple class="button_5">
        <igx-icon>
          add
        </igx-icon>
        <span>Task</span>
      </button>
    </div>
    <div class="column-layout group_5">
      <igx-calendar [hasHeader]="true" [vertical]="false" class="calendar"></igx-calendar>
      <h6 class="content">
        Release Calendar
      </h6>
      <igx-list class="list_1">
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>App Builder</span>
          <span igxListLineSubTitle>Product download process experience</span>
          <span igxListAction>
            <igx-icon class="icon_3">
              check_circle
            </igx-icon>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLineTitle>Ultimate Products Review</span>
          <span igxListLineSubTitle>08.13.2020</span>
          <span igxListAction>
            <igx-icon class="icon_4">
              error
            </igx-icon>
          </span>
        </igx-list-item>
      </igx-list>
    </div>
  </div>
</div>
